/* #region GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
/* #endregion */
/* #region SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #E8EFF9;
  }
  ::-webkit-scrollbar-thumb {
    background: #292929;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* #endregion */
/* #region HEADER */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__title {
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-top: 40px;
}
@media (max-width: 745px) {
    .header {
        padding: 64px 72px 40px;
    }
    .header__title {
        font-size: 40px;
    }
}
@media (max-width: 390px) {
    .header {
        padding: 32px 20px;
        background-position-x: 40%;
    }
    .header__title {
        font-size: 32px;
    }
}

/* #endregion */
/* #region MENU */

.menu {
    height: 100vh;
    padding: 64px 120px;
    background: #E8EFF9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}
.menu:target {
    transform: translateX(0);
}
.menu div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.menu__nav_link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2;
    margin-bottom: 32px;
}
/* #endregion */

/* #region MAIN */
.main {
    padding: 120px;
    background: white;
}
.section {
    margin: 0 auto;
    max-width: 1020px;
    margin-bottom: 120px;
}
.section:last-of-type {
    margin-bottom: 0;
}
.section__title {
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1.5;
    margin-top: 0;
    margin-bottom: 64px;
}
@media (max-width: 745px) {
    .main {
        padding: 120px 72px;
    }
    .section__title {
        font-size: 40px;
    }
}
@media (max-width: 390px) {
    .main {
        padding: 120px 20px;
    }
    .section__title {
        font-size: 32px;
        margin-bottom: 48px;
    }
}

/* #region Recommended section */

.recommended_products {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.product__photo {
    width: 100%;
    margin-bottom: 32px;
}
.product__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;
}
.product__category {
    margin-bottom: 12px;
}
.product__price {
    font-weight: bold;
}

@media (max-width: 745px ) {
    .recommended_products {
        flex-direction: column;
    }
}
/* #endregion */
/* #region Categories */
.category {
    margin-bottom: 64px;
}
.category__photos {
    display: flex;
    gap: 3%;
    margin-bottom: 16px;
}
.category__photo_wide {
    width: 65%;
}
.category__photo_square {
    width: 32%;
}
.categoty__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 33.6px;
}
@media (max-width: 390px) {
    .category__photo_wide {
        width: 48%;
        object-fit: cover;
    }
    .category__photo_square {
        width: 48%;
    }
}
/* #endregion */
/* #region How to buy */

.how-to-buy {
    display: flex;
    justify-content: space-between;
}

.how-to-buy-title {
    width: 48%;
}

.how-to-buy__content{
    width: 48%;
}

.how-to-buy__benefit {
    font-size: 16px;
    font-weight: bold;
    line-height: 22.4px;
    margin-bottom: 16px;
}
.how-to-buy__benefits {
    margin-bottom: 40px;
}
@media (max-width: 390px) {
    .how-to-buy {
        flex-direction: column;
    }
    .how-to-buy-title {
        width: 100%;
    }
    .how-to-buy__content{
        width: 100%;
    }
}
/* #endregion */
/* #region Footer */

.footer {
    height: 460px;
    position: sticky;
    bottom: 0;
    z-index: -1;
    background-image: url(./assets/images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 1300px) {
    .footer {
        background-position-y: 30%;
    }
}

/* #endregion */
/* #endregion */